@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-color-blue: #007a99;
  --text-color-black: black;
  --text-color-white: white;
  --text-color-grey: #333;
  --border-and-box-shadow-color-black: rgba(0, 0, 0, 0.1);
}

body,
header,
main,
footer,
address,
.profile-card,
.about-me,
.projects,
.project-info,
.contact-me {
  display: flex;
  flex-direction: column;
}

body {
  color: var(--text-color-grey);
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h2 {
  align-self: center;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

svg path {
  fill: black;
}

header {
  background: linear-gradient(
    160deg,
    var(--background-color-blue) 50%,
    var(--text-color-white) 50%
  );
}

.profile-card {
  margin: 18px;
  color: var(--text-color-white);
  box-shadow: 4px 4px 4px var(--border-and-box-shadow-color-black);
}

.profile-card img,
.project img,
footer img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.profile-card h1 {
  max-height: 148px;
  max-width: 335px;
  font-size: 3.1rem;
  padding-left: 5px;
  transform: translateY(-100%);
  margin-bottom: -148px;
}

.about-me {
  margin: 14px;
  gap: 10px;
}

.about-me h2,
main h2,
.project-info-top h3 {
  color: var(--text-color-black);
}

.social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-links svg {
  height: 36px;
  width: 36px;
}

.youtube {
  transform: scale(1.2);
}

.youtube path {
  fill: red;
}

.wikipedia {
  transform: scale(1.1);
}

main {
  padding: 90px 0 110px;
}

.projects {
  gap: 70px;
}

.project {
  margin: 14px;
  box-shadow: 4px 4px 4px var(--border-and-box-shadow-color-black);
  border: 1px solid var(--border-and-box-shadow-color-black);
}

.project-info {
  padding-bottom: 80px;
}

.project-info-top {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 20px 20px 20px 30px;
}

.project-info-top h3 {
  font-size: 1.4rem;
}

.project-links svg,
.address-bottom svg {
  height: 24px;
  width: 24px;
}

.project-info p {
  padding: 0 30px 0 20px;
}

footer {
  background-color: var(--background-color-blue);
}

.contact-me {
  color: var(--text-color-white);
  gap: 14px;
  padding: 14px;
  margin-bottom: 28px;
}

address {
  font-style: normal;
  gap: 14px;
}

.phone,
.email {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.address-bottom svg {
  display: none;
}

.address-bottom svg path {
  fill: currentColor;
}
