:root {
  --background-color-blue: #007a99;
  --text-color-black: black;
  --text-and-background-color-white: white;
  --text-color-grey: #333;
  --border-and-box-shadow-color-black: rgba(0, 0, 0, 0.1);
  --profile-card-h1-background-color-black: rgba(0, 0, 0, 0.3);
  --profile-card-and-project-box-shadow: 5px 5px 5px
      var(--border-and-box-shadow-color-black),
    -3px 0px 3px var(--border-and-box-shadow-color-black);
  --about-me-and-project-border: 1px solid
    var(--border-and-box-shadow-color-black);
  --header-or-profile-card-background: linear-gradient(
    155deg,
    var(--background-color-blue) 50%,
    var(--text-and-background-color-white) 50%
  );
  --header-desktop-background: linear-gradient(
    175deg,
    var(--background-color-blue) 65%,
    var(--text-and-background-color-white) 35%
  );
}

body,
header,
main,
footer,
address,
.profile-card,
.about-me,
.projects,
.project-info,
.contact-me {
  display: flex;
  flex-direction: column;
}

body {
  color: var(--text-color-grey);
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h2 {
  align-self: center;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
}

svg path {
  fill: black;
}

.profile-card {
  padding: 18px;
  color: var(--text-and-background-color-white);
  background: var(--header-or-profile-card-background);
}

.profile-card img,
.project img,
footer img {
  margin: 0 auto;
  height: auto;
}

.profile-card img {
  box-shadow: var(--profile-card-and-project-box-shadow);
}

.profile-card h1 {
  max-width: 190px;
  font-size: 3.1rem;
  padding-left: 5px;
  transform: translateY(-100%);
}

.about-me {
  margin: -150px 14px 14px 14px;
  gap: 10px;
}

.about-me h2,
main h2,
.project-info-top h3 {
  color: var(--text-color-black);
}

.social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-links svg {
  height: 48px;
  width: 48px;
}

.youtube {
  transform: scale(1.2);
}

.youtube path {
  fill: red;
}

.wikipedia {
  transform: scale(1.1);
}

main {
  padding: 90px 0 110px;
}

.projects {
  gap: 70px;
}

.project {
  margin: 14px;
  box-shadow: var(--profile-card-and-project-box-shadow);
  border: var(--about-me-and-project-border);
}

.project-info {
  padding-bottom: 80px;
}

.project-info-top {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  padding: 20px 20px 20px 30px;
}

.project-info-top h3 {
  font-size: 1.4rem;
}

.project-links svg,
.address-bottom svg {
  height: 24px;
  width: 24px;
}

.project-info p {
  padding: 0 30px 0 20px;
}

footer {
  background-color: var(--background-color-blue);
}

.contact-me {
  color: var(--text-and-background-color-white);
  gap: 14px;
  padding: 14px;
  margin-bottom: 28px;
}

.contact-me > p {
  font-size: 1.3rem;
  font-weight: 400;
}

address {
  font-style: normal;
  gap: 14px;
}

.address-bottom svg {
  display: none;
}

.phone,
.email {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.address-bottom svg path {
  fill: currentColor;
}

/* tablet */
@media (min-width: 500px) {
  /* header */
  header {
    padding: 30px;
    background: var(--header-or-profile-card-background);
  }

  .profile-card {
    z-index: 99;
    flex-direction: row;
    padding: 0;
    background: none;
  }

  .profile-card picture {
    width: 44vw;
  }

  .profile-card h1 {
    max-height: none;
    max-width: none;
    transform: none;
    padding-left: 0;
    margin: 15px 0 0 -50px;
    font-size: clamp(2.4rem, 6vw, 3.1rem);
    white-space: nowrap;
  }

  .about-me {
    border: var(--about-me-and-project-border);
    box-shadow: var(--profile-card-and-project-box-shadow);
    padding: 70px 20px 50px 20px;
    margin: calc(-16vw - 58px - 10px - 2px) 8vw 0 8vw;
    background-color: var(--text-and-background-color-white);
  }

  .about-me h2 {
    text-indent: calc(38vw - 20px);
  }

  .about-me p::before {
    content: '';
    float: left;
    height: calc(16vw - 70px);
    width: calc(38vw - 20px);
  }

  .about-me .social-links {
    display: none;
  }
  /* header */

  /* main */
  main {
    padding-bottom: 22vw;
  }

  main > h2 {
    align-self: flex-start;
    padding-bottom: 1vw;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw 3vw;
  }

  main > h2,
  .projects {
    margin: 0 5vw;
  }

  .project {
    margin: 0;
  }

  .project-info {
    padding-bottom: 20px;
  }

  .project-info-top {
    padding: 20px;
    gap: 5px;
  }

  .project-info-top h3 {
    font-size: clamp(1.2rem, 3vw, 1.4rem);
  }
  /* main */
  /* footer */
  footer {
    flex-direction: row;
    padding: 4vw 4vw 8vw;
    justify-content: space-between;
  }

  .contact-me {
    width: 45vw;
    padding: 0;
    margin-bottom: 0;
    justify-content: center;
  }

  .contact-me > h2 {
    align-self: auto;
    font-size: clamp(1.5rem, 4vw, 2.4rem);
  }

  .contact-me > p,
  .contact-me > address {
    font-size: clamp(1rem, 2.1vw, 1.3rem);
    font-weight: 300;
  }

  .phone,
  .email {
    gap: clamp(5px, 1.5vw, 15px);
    padding: clamp(3px, 1vw, 10px) 0;
  }

  .phone svg,
  .email svg {
    transform: translateY(5%);
    flex-shrink: 0;
  }

  .email a {
    font-size: clamp(0.8rem, 2.1vw, 1.3rem);
  }

  .address-bottom svg {
    display: block;
  }

  .contact-me .social-links {
    justify-content: flex-start;
    gap: 15px;
    margin-top: 0;
  }

  .linkedin {
    transform: translateX(-10%);
  }

  footer img {
    width: 45vw;
  }
  /* footer */
}

/* desktop */
@media (min-width: 1000px) {
  /* header */

  h2 {
    font-size: clamp(2.2rem, 3.4vw, 2.8rem);
  }

  .project-info-top h3 {
    font-size: clamp(1.4rem, 2vw, 2.1rem);
  }

  p,
  .contact-me > p,
  .contact-me > address,
  .email a {
    font-size: clamp(1rem, 1.6vw, 1.2rem);
  }

  header {
    flex-direction: row;
    align-items: center;
    padding: 5vw;
    background: var(--header-desktop-background);
  }

  .profile-card {
    z-index: 0;
    flex-direction: column;
    align-items: center;
  }

  .profile-card picture {
    max-width: fit-content;
  }

  .profile-card h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 500;
    white-space: nowrap;
    margin-top: -84px;
    background-color: var(--profile-card-h1-background-color-black);
    -webkit-text-stroke: 1px var(--profile-card-h1-background-color-black);
  }

  .about-me {
    padding: 3vw;
    margin: 0;
    gap: 1.5vw;
  }

  .about-me h2 {
    text-indent: 0;
    align-self: flex-start;
  }

  .about-me p::before {
    content: none;
  }

  .about-me .social-links {
    display: flex;
    align-self: flex-end;
  }
  /* header */

  /* main */
  main {
    padding-bottom: calc(90px + 5vw);
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  /* main */

  /* footer */
  footer {
    padding-bottom: 4vw;
  }

  .contact-me {
    width: auto;
    justify-content: flex-start;
  }

  footer img {
    width: auto;
  }
  /* footer */
}
